{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-email-auth">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
                <b-navbar-nav class="ml-auto" v-if="!signup">
                    <b-nav-item href="#" v-on:click="decideLogout">
                        {% trans "logout" %}
                    </b-nav-item>
                </b-navbar-nav>
        </b-navbar>

        <b-alert :variant="alertLvl" dismissible v-model="alertShow">
            [[ alertMsg ]]
        </b-alert>

        <div v-if="error">
            <h1>{% trans "Error" %}</h1>
            <p>[[ errorMsg ]]</p>
        </div>

    </div>
{% endblock %}

{% block extrabody %}

    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-email-auth',
            data: {
                selected: "",
                signup: true,
                alertShow: false,
                alertMsg: "",
                alertLvl: "info",
                token: "{{token}}",
                user: null,
                error: false,
                errorMsg: ""
            },
            beforeMount() {
                this.init();
            },
            methods: {
                init() {
                    if (this.token) {
                        document.cookie = 'decide='+this.token+'; path=/';
                        this.getUser();
                        if (!this.user) {
                            let futureUrl = '{{callback}}';
                            if (futureUrl) {
                                window.location.href = futureUrl;
                            } else {
                                this.error = true;
                                this.errorMsg = 'Callback URL is incorrect.';
                            }
                        } else {
                            this.error = true;
                            this.errorMsg = 'There is no user for this token.';
                        }
                    } else {
                        this.error = true;
                        this.errorMsg = 'Token is wrong.';
                    }
                    
                    
                },
                postData(url, data) {
                    // Default options are marked with *
                    var fdata = {
                        body: JSON.stringify(data),
                        headers: {
                            'content-type': 'application/json',
                        },
                        method: 'POST',
                    };
                    
                    if (this.token) {
                        fdata.headers['Authorization'] = 'Token ' + this.token;
                    }

                    return fetch(url, fdata)
                        .then(response => {
                            if (response.status === 200) {
                                return response.json();
                            } else {
                                return Promise.reject(response.statusText);
                            }
                        });
                },
                getUser(evt) {
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/getuser/" %}", data)
                        .then(data => {
                            this.user = data;
                            this.signup = false;
                        }).catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                decideLogout(evt) {
                    evt.preventDefault();
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/logout/" %}", data);
                    this.token = null;
                    this.user = null;
                    document.cookie = 'decide=; path=/';
                    this.signup = true;
                },
                showAlert(lvl, msg) {
                    this.alertLvl = lvl;
                    this.alertMsg = msg;
                    this.alertShow = true;
                }
            },
        })
    </script>
</body>
{% endblock %}