{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
<div id="app-booth">
<h1>Bienvenido a Decide Autenticación</h1>

<nav>
    <ul>
        <li><a href="authentication/registro">Regístrate aquí</a></li>
        <li><a href="accounts/login/">Login</a></li>
    </ul>
</nav>
</div>

{% endblock %}