{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
<div id="app-booth">
<h1>Inicio de sesión | Decide!</h1>

<form method="POST">
    {% csrf_token %}
<div>

<label>Nombre de usuario:</label>
<input type="text" class="form-control" placeholder="Nombre de usuario" name="username">

</div>

<div>

    <label>Contraseña:</label>
    <input type="password" class="form-control" placeholder="Contraseña" name="password">

</div>



<button type="submit">Enviar</button>

{% endblock %}